$backGroundColor: #fff6ff;
$btnPrimaryColor: #22005de5;
$btnSecondaryColor: #5d55af;
$fontColor: #2e2828;
$fontSecondaryColor: #6a6a6f;
$primaryColor: #f1e7fd;
$fontFamily: "Poppins", sans-serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $fontFamily;
}

//colors
.cardBody {
  background-color: $backGroundColor;
  border-color: transparent;
}
body {
  background-color: $primaryColor;
}
.btn-primary,
.btn-primary:hover {
  background-color: $btnPrimaryColor;
  border-color: #fff;
}
.btn-secondary,
.btn-secondary:hover,
.registerButton,
.registerButton:hover {
  background-color: $btnSecondaryColor;
  border-color: #fff;
}
.btn-outline-primary,
.btn-outline-primary:hover {
  color: #000;
  border: 2px solid;
}
.navbar {
  -webkit-backdrop-filter: blur(3.5px);
  backdrop-filter: blur(3.5px);
  background-color: rgba(255, 255, 255, 0.5);
}
#navUserName:hover {
  color: $btnPrimaryColor;
}
#navUserName {
  color: $fontColor;
}

//navigation
#loginButton {
  margin-right: 7px;
}
#userName {
  margin-left: 14px;
  font-weight: 600;
  font-size: 25px;
}
.userImage {
  border: 2px solid $fontColor;
  border-radius: 70%;
}

//text
h1 {
  font-size: 34px;
  font-weight: 500;
  line-height: 44px;
  color: $fontColor;
}
p {
  font-size: 18px;
  font-weight: 400;
}
a {
  font-size: 18px;
  font-weight: 400;
}
a:hover {
  color: $btnPrimaryColor;
  font-weight: 500;
}
p,
a {
  margin-bottom: 0;
  letter-spacing: 1.5px;
  color: $fontColor;
}
.itemTitle {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 40px;
}
.itemDescription {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 80px;
  margin-top: 10px;
  padding: 5px;
}
.numberOfBidsText,
.highestBidText {
  font-style: italic;
  margin-bottom: 5px;
}
.numberOfBidsText {
  color: $fontSecondaryColor;
  font-weight: 400;
}
.highestBidText {
  font-weight: 400;
}
.bidText {
  font-weight: 400;
}
.bidText,
.bidItemText {
  font-size: 20px;
}
.bidItemText {
  margin-left: 5px;
  font-weight: 500;
}

//body
.listContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(470px, 1fr));
  gap: 45px 35px;
  padding: 1rem;
}
.registerMain {
  width: auto;
  height: auto;
}
.registerBody,
.loginBody {
  background-color: $backGroundColor;
  padding: 40px;
}
#orBody {
  margin-right: 15px;
  margin-left: 5px;
  font-weight: 400;
  font-size: 22px;
}

//image
.itemImage img {
  width: 100%;
  height: 330px;
  object-fit: cover;
  border-radius: 10px;
}
.frontPageImage {
  width: 100%;
  height: 300px;
  object-fit: contain;
}

//icons
.fa-heart {
  color: $btnSecondaryColor;
  font-size: 30px;
  border: solid 3.4px $btnSecondaryColor;
  border-radius: 50%;
  padding: 7px;
  margin-left: 40px;
}
.fa-heart:hover {
  color: #fff;
  background-color: $btnSecondaryColor;
  cursor: pointer;
}
.fa-clock,
.fa-dollar-sign {
  margin-right: 10px;
  color: $fontColor;
  font-size: 21px;
  padding-top: 4px;
}

//breakpoints
@media only screen and (max-width: 990px) {
  .navbarContainer {
    flex-direction: column;
  }
  .navbarButtonContainer,
  .form-outline {
    margin-top: 17px;
  }
}

@media only screen and (max-width: 465px) {
  .itemImage img {
    height: 200px;
  }
}
