$backGroundColor: #fff6ff;
$backGround2Color: #fffbff;
$btnPrimaryColor: #22005de5;
$btnSecondaryColor: #5d55af;
$fontColor: #2e2828;
$fontSecondaryColor: #5b5b5f;
$primaryColor: #f1e7fd;
$fontFamily: "Poppins", sans-serif;
$desktopWidth: 1400px;
$mobileWidth: 975px;
$smallMobileWidth: 700px;
$marginBody: 0 20px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $fontFamily;
}

//colors
.cardBody,
.newListingContainer,
.footerContainer {
  background-color: $backGroundColor;
  border-color: transparent;
}
body {
  background-color: $primaryColor;
  padding: 0 35px;
}
.newsLetterContainer {
  background-color: $btnSecondaryColor;
}
.btn-primary,
.btn-primary:hover {
  background-color: $btnPrimaryColor;
  border-color: #fff;
  color: #fff;
}
.btn-secondary,
.btn-secondary:hover,
.registerButton,
.registerButton:hover {
  background-color: $btnSecondaryColor;
  border-color: #fff;
}
.btn-outline-primary,
.btn-outline-primary:hover {
  color: #000;
  border: 2px solid;
}
.navbar {
  -webkit-backdrop-filter: blur(3.5px);
  backdrop-filter: blur(3.5px);
  background-color: rgba(255, 255, 255, 0.5);
}
#navUserName:hover {
  color: $btnPrimaryColor;
}
#navUserName {
  color: $fontColor;
  font-size: 25px;
}

//navigation
#loginButton {
  margin-right: 7px;
}
#userName {
  margin-left: 14px;
  font-weight: 600;
  font-size: 25px;
}
.userImage {
  border: 2px solid $fontColor;
  border-radius: 70%;
}
#searchInput {
  width: 360px;
}

//text
h1,
h2,
h3,
h4,
h5,
p {
  color: $fontColor;
  line-height: 30px;
}
h1 {
  font-size: 33px;
  font-weight: 500;
  line-height: 44px;
  letter-spacing: 2px;
}
h2 {
  font-size: 26px;
  font-weight: 500;
}
h3 {
  font-size: 23px;
  font-weight: 500;
}
h4 {
  font-size: 21px;
}
h5 {
  font-size: 19px;
  font-weight: 400;
}
p {
  font-size: 17px;
  font-weight: 400;
}
a {
  font-size: 18px;
  font-weight: 400;
}
a:hover {
  color: $btnPrimaryColor;
  font-weight: 500;
}
p,
a {
  margin-bottom: 0;
  letter-spacing: 1.5px;
  color: $fontColor;
}
.itemTitle {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 40px;
}
.itemDescription {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 85px;
  margin-top: 10px;
  padding: 0 20px;
}
.numberOfBidsText,
.highestBidText {
  font-style: italic;
  margin-bottom: 5px;
}
.numberOfBidsText {
  color: $fontSecondaryColor;
  font-weight: 400;
}
.highestBidText {
  font-weight: 400;
}
.bidText {
  font-weight: 400;
}
.bidText,
.bidItemText {
  font-size: 20px;
}
.bidItemText {
  margin-left: 5px;
  font-weight: 500;
}

//image
.itemImage img {
  width: 400px;
  height: 280px;
  object-fit: cover;
  border-radius: 10px;
}
.frontPageImage {
  width: 100%;
  height: 240px;
  object-fit: contain;
}
.rowContentImage {
  background-image: url("/assets/images/newsletter-img.png");
  background-size: cover;
  width: 360px;
  height: 180px;
  border-radius: 10px;
  margin-right: 50px;
}

//icons and buttons
.fa-heart {
  color: $btnSecondaryColor;
  font-size: 30px;
  border: solid 3.4px $btnSecondaryColor;
  border-radius: 50%;
  padding: 7px;
  margin-left: 40px;
}
.fa-heart:hover {
  color: #fff;
  background-color: $btnSecondaryColor;
  cursor: pointer;
}
.fa-clock,
.fa-dollar-sign {
  margin-right: 10px;
  color: $fontColor;
  font-size: 21px;
  padding-top: 4px;
}
.fa-facebook,
.fa-twitter,
.fa-instagram,
.fa-pinterest {
  color: $fontColor;
  font-size: 26px;
}
.newsLetterEmailButton,
.newsLetterEmailButton:hover {
  border-color: transparent;
}
#loginButton {
  margin-right: 10px;
}
.socialIcon .fa,
.socialIcon p:hover {
  color: $btnSecondaryColor;
}

//body
.cardBody {
  margin: 20px 0;
}
.newListingContainer {
  margin: $marginBody;
}
.listContainer,
#userListingContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 0 40px;
}
.registerMain {
  width: auto;
  height: auto;
}
.registerBody,
.loginBody {
  background-color: $backGroundColor;
  padding: 40px;
}
.registerBody {
  width: 800px;
}
.profileInfo {
  display: flex;
  flex-direction: column;
}
#orBody {
  margin-right: 15px;
  margin-left: 5px;
  font-weight: 400;
  font-size: 22px;
}
.itemDescriptionBody {
  border: 1px solid;
  border-color: $fontSecondaryColor;
  border-radius: 10px;
  width: 335px;
  display: flex;
  justify-content: start;
}
.lineStyle {
  border: 1.2px solid $btnPrimaryColor;
  background-color: $btnPrimaryColor;
  width: 100%;
  margin: 50px;
}
.registerPassword {
  margin-right: 35px;
}

//footer
.newsLetterContainer {
  padding: 30px;
  margin: $marginBody;
}
.rowContentText {
  margin-left: 20px;
}
.socialFollow a {
  text-decoration: none;
}
.allListingFooter a,
.profileFooter a,
.homeFooter a {
  display: list-item;
}
.allListingFooter a {
  list-style: url("/assets/icons/folder-open.png");
}
.profileFooter a {
  list-style: url("/assets/icons/profile-user.png");
}
.homeFooter a {
  list-style: url("/assets/icons/home.png");
}
.emailText {
  width: 350px;
}

//breakpoints
@media (max-width: $desktopWidth) {
  .listContainer,
  #userListingContainer {
    grid-template-columns: 1fr 1fr;
  }
  .bidForm {
    width: 75%;
  }
  .itemImage img {
    width: 600px;
    object-fit: contain;
  }
  .itemDescriptionBody {
    width: 370px;
  }
  .footerNav {
    flex-direction: column;
  }
  .footerNav li {
    margin-top: 10px;
  }
}

@media (max-width: $mobileWidth) {
  .cardBody {
    padding: 50px;
  }
  .registerMain {
    margin-top: 60px;
  }
  .listContainer,
  #userListingContainer {
    grid-template-columns: 1fr;
  }
  .itemImage img {
    width: 100%;
    height: 350px;
  }
  .itemDescriptionBody {
    width: 570px;
  }
  .bidForm {
    width: 65%;
  }
  #searchInput {
    width: 230px;
  }
  .socialFollow {
    flex-direction: column;
  }
  .navbarContainer {
    flex-direction: column;
    margin-top: 20px;
  }
  .navbarButtonContainer {
    margin-top: 20px;
  }
  .emailText {
    width: auto;
  }
  .rowContentImage {
    margin-right: 20px;
  }
}
@media screen and (max-width: $smallMobileWidth) {
  .registerRow {
    flex-direction: column;
  }
  .registerBody {
    justify-content: center;
    align-items: center;
    width: 500px;
  }
  .profileBody {
    flex-direction: column;
  }
  .profileColumn-2 {
    margin-top: 40px;
  }
  .itemImage img {
    width: 350px;
    height: 250px;
  }
  .itemDescriptionBody {
    width: 270px;
  }
}
